hr {
    border: none;
    height: 3px;
    background-color: darkmagenta;
}
h1, h2, h4, h6, p  {
    text-align: center;
}

.links {
    color: lightcyan;
}
.card {
    background-color: navy;
    color: lightcoral;
}
.card-title {
    text-align: center;
}
