.footer {
  min-height: 100px;
  background: cadetblue;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #343A40;
  color: cyan;
}
.text {
  text-align: center;
}
